<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Porduct_name}</title>
    <!-- Common Styles -->
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/common_styles.css" />
    <!-- Navigation Stuff -->
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/nav_styles.css" />
    <script src="/scripts/common scripts/component_fetcher.js" defer></script>
    <!-- Current Page Stuff -->
    <link rel="stylesheet" href="/styles/common_styles/jumbotron.css" />
    <link rel="stylesheet" href="/styles/util_styles/util_styles_1.css" />
    <link rel="stylesheet" href="/styles/product_page.css" />
    <script type="module" src="/scripts/product_page/productPage.js"></script>
    <script type="module" src="/scripts/product_page/getProduct.js"></script>
    <!-- <script
      type="module"
      src="/scripts/product_page/calcProductPage.js"
    ></script> -->
  </head>
  <body>
    <nav></nav>
    <section class="jumbotron">
      <h1 id="jumbotron__title" class="jumbotron__main-title product_name">
        {PRODUCT_NAME}
      </h1>
    </section>
    <div class="spacer layer-1"></div>
    <aside id="user_nav">
      <!-- <a class="user-nav__link" href="/">Home</a><span class="user-nav__arrow"> > </span
      ><a href="#">Some</a> -->
    </aside>
    <main>
      <section class="product-img__section">
        <picture>
          <!-- <img
            src="../media/_organize/andrey-konstantinov-WBqlmXm9aDA-unsplash.jpg"
            alt=""
            class="product_image"
          /> -->
          <img src="" alt="" class="product_image" />
        </picture>
        <h2 id="product-caption" class="product_name">{PRODUCT_NAME}</h2>
      </section>
      <section class="product_info">
        <div class="product_info_part basic_details">
          <h6 class="basic_details_title">Basic Details</h6>
          <p class="product_description">{PRODUCT_DESCRIPTION}</p>
        </div>
        <div class="product_info_part">
          <span class="price"
            >Price Per <span id="unit">Kg</span>: &#8377;<span
              id="price-per-gram"
            ></span
          ></span>
        </div>
        <div class="product_info_part quantity-wrapper">
          <span id="quantity-text"
            >Quantity:&nbsp;<span id="confirmed-quantity">0</span></span
          >
          <input
            type="number"
            id="unitInput"
            class="input-grams disp-none"
            placeholder="100"
            name="userGrams"
            value="100"
          />
          <input
            type="range"
            name="userGramsSlider"
            id="unitSlider"
            class="grams-slider active-input"
            min="100"
            max="1000"
            value="100"
            step="100"
          />
          <button id="input-switch" class="base-btn input-switch-btn">
            Enter a custom value
          </button>
        </div>
        <div class="product_info_part final-price__text">
          <span>Final Price: &#8377;</span><span id="calculate_price">0</span>
        </div>
        <div class="product_info_part purchase-btns">
          <button id="add_cart_btn" class="purchase_btn" type="submit">
            Add to Cart
          </button>
        </div>
        <div class="product_info_part">
          <p class="cart-message disp-none">
            Your Item has been Added to Cart!
          </p>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
