<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grosto</title>
    <!-- Common Styles -->
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/common_styles.css" />
    <!-- Navigation Stuff -->
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/nav_styles.css" />
    <script src="/scripts/common scripts/component_fetcher.js" defer></script>
    <!-- Current Page Stuff -->
    <link rel="stylesheet" href="/styles/common_styles/jumbotron.css" />
    <link
      rel="stylesheet"
      href="/styles/util_styles/product_display_util.css"
    />
    <link rel="stylesheet" href="/styles/util_styles/util_styles_1.css" />
    <link rel="stylesheet" href="/styles/category_page/category_page.css" />
    <script src="/scripts/category_page/fillProducts.js" defer></script>
  </head>
  <body>
    <nav></nav>
    <!-- <section class="jumbotron">
      <span id="jumbotron__title" class="cart-page__title">Vegetables</span>
    </section> -->
    <section class="jumbotron">
      <h1 class="jumbotron__main-title category-name">{Category Title}</h1>
    </section>
    <div class="spacer layer-1"></div>
    <main>
      <div class="products__container"></div>
    </main>
    <footer></footer>
  </body>
</html>
