* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:-moz-focusring {
  outline: none;
}
*::-moz-focus-inner {
  outline: none;
}
html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.anchor {
  text-decoration: none;
}
strong {
  font-weight: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
.no-events {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  user-select: none;
}
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
*::selection {
  background-color: rgba(101, 198, 255, 0.561);
}
/* --------------- */
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
main,
section,
aside {
  font-size: 1.6rem;
}
.base-btn {
  /* margin: 1rem; */
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  border: 0;
  font-weight: 500;
}
.base-btn:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.disp-none {
  display: none;
}
/* ----------------- */
/* .jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #f4f4f4;
}
#jumbotron__title {
  font-size: 4.5rem;
  font-weight: 500;
} */
main {
  display: flex;
  height: 80vh;
}
.products-list {
  width: 75vw;
  /* background-color: antiquewhite; */
}
.cart-product-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  border-left: 0.2rem solid #eee;
}
.cart-product-item > * {
  display: block;
  padding: 1rem;
  border-right: 0.2rem solid #eee;
  border-bottom: 0.2rem solid #eee;
}
.product-info__part {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image__pictag {
  display: flex;
  justify-content: center;
}
.product-image {
  object-fit: cover;
  width: 12rem;
  border-radius: 0.5rem;
}
.cart-summary {
  width: 25vw;
  height: fit-content;
  background-color: #fcfcfc;
  border-left: 0.3rem solid #1a1a1a;
}
.cart-sum__title {
  padding: 1rem;
  text-align: center;
  /* border-bottom: 0.2rem solid black; */
  background-color: #eeeeee;
}
.cart-sum__table {
  width: 100%;
  border-spacing: 0;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.row,
.row > * {
  width: 100%;
  border-collapse: collapse;
}
.amount-type,
.cart-amount__text {
  text-align: center;
  padding: 1.5rem 1rem;
}
.cart-end__wrapper {
  padding: 1rem;
}
.cart-end__btn {
  width: 100%;
  background-color: #f4f4f4;
  border: 0;
  padding: 0.8rem 0;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 0;
}
.cart-end__btn:hover {
  cursor: pointer;
  background-color: #dddddd;
}
