/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  background: black;
}
.company-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company-logo h1 {
  display: inline-block;
  padding: 0 1rem;
  font-size: 3rem;
  color: aliceblue;
}
.pages {
  display: flex;
  flex-direction: row;
}
.nav-item {
  display: block;
  text-align: center;
  list-style: none;
}
.nav-link {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  color: #ffffff;
}
.current-nav-item {
  border-bottom: #00ffff solid 0.2rem;
}
.current-nav-link {
  color: #00ffff;
}
.pages li:hover {
  cursor: pointer;
  background: #333;
  transition: background-color 100ms ease-in;
}
